      #makeOil {
        height: 30px;
        width: 190px;
      }

      #resources {
        text-align: center;
        position: fixed;
        top: 10px;
        right: 5%;
        width:250px;
      }

      .item-heading {
        text-align:left;
      }

      .item-name {
        width:200px;
        text-align: left;
      }

      .items-owned {
        text-align:right;
        width:145px;
      }

      span {
        font-size: 28px;
      }

      #nav-bar {
        display:inline;
        cursor: default;
      }

      #yourBase:hover {
        text-decoration: underline;
      }

      #settings:hover {
        text-decoration: underline;
      }

      .loader {
        width:190px;
        text-align:center;
        font-size: 15px;
      }
